<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Message Generator</title>
</head>
<body>
    <h1>Birthday Message Generator</h1>
    <form action="/generate/" method="post">
        <label for="birthday">Enter a birthday (MM-DD):</label>
        <input type="text" id="birthday" name="birthday" required>
        <br><br>
        <label for="emotion">Select the emotion:</label>
        <select id="emotion" name="emotion" required>
            <option value="fun">Fun</option>
            <option value="loving">Loving</option>
            <option value="sarcastic">Sarcastic</option>
            <option value="rude">Rude</option>
            <option value="professional">Professional</option>
        </select>
        <br><br>
        <input type="submit" value="Generate Message">
    </form>
</body>
</html>
